.container-menu {
  border-bottom: 1px solid gray;
}

/*Tareas*/
.mainBox {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 5px solid #786d6dc8;
  margin: 1rem 45rem 0rem 45rem;
  width: "40rem";
}

/*Task List - TaskCard*/
.boxTask {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 211, 189);
  border-radius: 5px;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-size: 1rem;
}

.boxTaskCompleted {
  text-decoration: line-through;
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 211, 189);
  border-radius: 5px;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-size: 1rem;
}

.btn-edit {
  color: rgba(17, 100, 243, 0.904);
  width: 2rem;
  font-size: 1.3rem;
}

.btn-delete {
  color: rgb(207, 27, 27);
  width: 2rem;
  font-size: 1.3rem;
}

.btn-save {
  color: rgb(8, 10, 8);
  width: 2rem;
  font-size: 1.3rem;
}

.btn-task {
  background-color: rgb(250, 211, 189);
}

.form-edit {
  display: flex;
  width: 2rem;
  flex-direction: column;
}

.buttonClear {
  display: flex;
  align-items: center;
  color: rgb(254, 254, 254);
  background-color: brown;
  width: 7rem;
  height: 2.5rem;
  font-size: 1rem;
}

span.error {
  display: block;
  color: red;
  font-style: italic;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

span.edit {
  display: inline-flex;
  flex-direction: column;
  padding: 3px;
}

.inputEdit {
  width: 18rem;
  height: 1.5rem;
  border-radius: 5px;
}

a {
  font-weight: 500;
  color: #646cff;
}

form > div {
  margin-bottom: 0.5rem;
}

button:disabled {
  background-color: #858282;
}

/*Error 404*/
.error-404 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5rem;
  align-items: "center";
  justify-content: "center";
}

.error {
  display: block;
  color: red;
  font-style: italic;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

span.edit {
  display: inline-flex;
  flex-direction: column;
  padding: 3px;
  width: fit-content;
}
